html,body{
    position: relative;
    min-height: 100vh;
    height: auto;
    width: 100%;
    background: url("study.jpg") center no-repeat;
    background-size: cover;
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to right bottom,#000,#000);
    opacity: 0.4;
}

input,span{
    border: none!important;
    outline: none!important;
    border-radius: 0px!important;
    border-bottom:solid 1px rgba(33, 37, 41, 0.75)!important;
    opacity: 0.8;
}